<aside class="bg-Whitish md:w-[15%]  px-6 py-6 rounded-lg md:min-h-[90vh]">
    <ul class="flex justify-between space-x-4 md:space-x-0 md:block md:space-y-6 font-bold md:text-gray-500">
        <li class="border-b-2 border-b-transparent hover:border-b-Black hover:text-DarkBlue"><a href="/vote">Overview</a></li>
        <li class="border-b-2 border-b-transparent hover:border-b-Black hover:text-DarkBlue"><a href="/cast-vote">Cast vote</a></li>
        <li class="border-b-2 border-b-transparent hover:border-b-Black hover:text-DarkBlue"><a href="">Results</a></li>
    </ul>
</aside>