<header class="sticky top-0 bg-white container mx-auto py-3">
    <nav class="relative flex items-center justify-between">
        <a href="/home" class="text-2xl font-bold text-Blue">
          <span class="text-DarkBlue">V</span><span class="text-gray-500">O</span> <span class="text-Red">T</span> <span class="text-Black">E</span> <i class="fa fa-vote-yea"></i>
        </a>

        <div class="space-x-6 hidden md:block">
            <a href="" class="border-b-2 border-b-transparent hover:border-b-Black hover:text-DarkBlue">FAQ</a>
            <a href="" class="border-b-2 border-b-transparent hover:border-b-Black hover:text-DarkBlue">Verify</a>
            <a href="/vote" class="px-6 py-2 bg-Blue text-white rounded-full hover:bg-DarkBlue">Vote</a>
        </div>

        <div class="self-end w-12 h-6 space-y-1 md:hidden cursor-pointer" id="hamburger">
            <div class="bar w-full h-[2px] bg-Blue"></div>
            <div class="bar b-2 w-full h-[2px] bg-Blue"></div>
            <div class="bar w-full  h-[2px] bg-Blue"></div>
        </div>

        <div class="absolute hidden md:hidden flex flex-col items-center py-3 space-y-6 bg-Whitish h-[93vh] top-[6vh] right-0 w-48" id="menu">
            <a href="" class="border-b-2 border-b-transparent hover:border-b-Black hover:text-DarkBlue">FAQ</a>
            <a href="" class="border-b-2 border-b-transparent hover:border-b-Black hover:text-DarkBlue">Verify</a>
            <a href="/vote" class="px-6 py-2 bg-Blue text-white rounded-full hover:bg-DarkBlue">Vote</a>
        </div>
    </nav>
    <hr class="mt-2">
</header>